<!-- The Door -->
<a-entity id='the-door' shadow='receive: true; cast: false;' gltf-model='#door' position='-1.8 0 3.1' rotation='-90 180 0' scale='-0.013 0.013 0.013'></a-entity>

<!-- The Radio -->
<a-entity radio id='the-radio' position='-0.5 1.45 -2.293' gltf-model='#radio' scale='0.005 0.005 0.005' rotation='-90 0 0'></a-entity>

<a-entity id='silent-night' position='-0.5 1.45 -2.293' sound__silent_night='src: ./sounds/silent-night-piano.mp3; autoplay: true; volume: 0.5;' volume='0.5'></a-entity>
<a-entity id='joy-to-the-world' position='-0.5 1.45 -2.293' sound__joy_world='src: ./sounds/joy-to-the-world.mp3; autoplay: false; volume: 0.5;'></a-entity>
<a-entity id='carol-of-the-bells' position='-0.5 1.45 -2.293' sound__carol_bell='src: ./sounds/carol-of-the-bells.mp3; autoplay: false; volume: 0.5;'></a-entity>
<a-entity id='o-christmas-tree' position='-0.5 1.45 -2.293' sound__christmas_tree='src: ./sounds/o-christmas-tree.mp3; autoplay: false; volume: 0.5;'></a-entity>
<a-entity id='wish-you-merry-christmas' position='-0.5 1.45 -2.293' sound__merry_christmas='src: ./sounds/we-wish-you-a-merry-christmas.mp3; autoplay: false; volume: 0.5;'></a-entity>

<!-- Stockings -->
<a-entity id='the-stocking1' position='-0.5 1.404 -2.149' gltf-model='#stocking' scale='1 1.7 1'></a-entity>
<a-entity id='the-stocking2' position='-0.2 1.404 -2.149' gltf-model='#stocking' scale='1 1.7 1'></a-entity>
<a-entity id='the-stocking3' position='0.1 1.404 -2.149' gltf-model='#stocking' scale='1 1.7 1'></a-entity>
<a-entity id='the-stocking4' position='0.4 1.404 -2.149' gltf-model='#stocking' scale='1 1.7 1'></a-entity>
<a-entity id='the-stocking5' position='0.7 1.404 -2.149' gltf-model='#stocking' scale='1 1.7 1'></a-entity>


<!-- Chairs -->
<a-entity shadow='receive: true; cast: true;' id='chair-left' gltf-model='#chair' scale='0.012 0.012 0.012' position='-0.6 0 -0.5' rotation='-90 0 -130'></a-entity>
<a-entity shadow='receive: true; cast: true;' id='chair-right' gltf-model='#chair' scale='0.012 0.012 0.012' position='0.6 0 -0.5' rotation='-90 0 -70'></a-entity>


<!-- Fireplace Stuff -->
<a-entity shadow='receive: true; cast: true;' id='the-fireplace' rotation='0 0 0' position='-0.5 0 -2.35' scale='0.01 0.01 0.01' gltf-model='#fireplace'></a-entity>
<a-entity id='fire' flicker scale='0.25 0.25 0.25'
          spe-particles__fire="texture: ./textures/explosion_sheet.png;
                               texture-frames: 5 5;
                               velocity: .1 .1 0;
                               acceleration: 0 2 0;
                               acceleration-spread: 0 2 0;
                               velocity-spread: .4 0 .4;
                               particle-count: 20;
                               max-age: 1; size: 1,2; size-spread: 2; opacity: 1,0; wiggle: 0 1 0; blending: additive"
          position="0.144 0.196 -2.393"
          light="type: point; color: orange; intensity: 1; castShadow: true;"></a-entity>
<a-entity id='logs' gltf-model='#logs-model' scale='0.0009 0.0009 0.0009' position='0.151 0.099 -2.693' ></a-entity>
<a-sound src='./sounds/fire.wav' autoplay='true' loop='true' position='0.144 0.196 -2.393'></a-sound>
<!-- End Fireplace Stuff -->

<!-- The Tree  -->
<a-entity position='1.052 0 1.775' shadow='receive: true; cast: true;' id='christmas-tree' gltf-model='#tree' scale='0.02 0.02 0.017' rotation='-90 90 0'></a-entity>
