<a-gui-flex-container flex-direction="row"
                      justify-content="center"
                      align-items="normal"
                      item-padding="1"
                      opacity="0.7" width="5"
                      height="1"
                      position="-0.5 1.539 -2.18"
                      rotation="0 0 0"
                      scale="0.02 0.02 0.02"
                      gui-item
                      gui-flex-container>
  <a-gui-icon-button id='skipBack' margin='0.25 0.25 0.25 0.25' width="0.75" radio-controls height="0.75" icon="ios-skipbackward" gui-interactable gui-item role="button" gui-icon-button></a-gui-icon-button>
  <a-gui-icon-button id='playPause' margin='0.25 0.25 0.25 0.25' width="0.75" radio-controls height="0.75" icon="ios-play" gui-interactable gui-item role="button" gui-icon-button></a-gui-icon-button>
  <a-gui-icon-button id='skipForward' margin='0.25 0.25 0.25 0.25' width="0.75" radio-controls height="0.75" icon="ios-skipforward" gui-interactable gui-item role="button" gui-icon-button></a-gui-icon-button>
</a-gui-flex-container>

