<!-- Blue Lights -->
<a-entity mixin='tree-light' animation='delay: 200;' material='color: blue; emissive: blue; emissiveIntensity: 1;'
          position='-0.5 1 0'></a-entity>

<a-entity mixin='tree-light' animation='delay: 200;' material='color: blue; emissive: blue; emissiveIntensity: 1;'
          position='-0.5 1.2 0'></a-entity>

<a-entity mixin='tree-light' animation='delay: 200;' material='color: blue; emissive: blue; emissiveIntensity: 1;'
          position='-0.3 1.2 -0.2'></a-entity>





        <a-entity mixin='tree-light' animation='delay: 700;' material='color: red; emissive: red; emissiveIntensity: 1;'
          position='-0.7 1.2 0'></a-entity>

<a-entity mixin='tree-light' animation='delay: 300;' material='color: green; emissive: green; emissiveIntensity: 1;'
          position='-0.7 1.1 0'></a-entity>
